* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/*   
  nav {
    height:8vh;
    width: auto;
    background: #5b78c7;
  }
  
  .nav-links {
    display: flex;
    list-style: none;

    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  
  
  @media screen and (max-width:700px) {

    nav {
      position: relative;
    }

  
    .hamburger {
      position: absolute;
      cursor: pointer ;
      right:5%;
      padding-top: 10%;
      transform: translate(-5%, -50%);
      z-index: 2;
      
    }

    .nav-links {
      position: fixed;
      background: #5b78c7;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      transition: all 1s ease-out;
    
      
    }
   
  } */
