
.btn{
    padding:.5rem 1 rem;
    background: #006669;
    color: whitesmoke;
    border:1px solid transparent; 
    border-radius: .25rem;
}
.btn-big{
    padding:.7rem 1.3rem;
    line-height: 1.3rem;
}
.btn-hover{
    color:white !important;
    background:#005255; 
}

.text-input{
    padding:.7rem 1rem;
    display: block;
    width:100%;
    border-radius:5px;
    border:1px solid #e0e0e0;
    outline:none;
    color:#444;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer{
    background: #020008;
    color:#d3d3d3; 
    height: 400px;
    position: relative;
}

.footer .footer-content{
    border:1px solid blue;
    height: 350px;
    display:flex; 

}
.footer.footer-content.footer-section{
    flex:1;
    padding:25 px;
}

.footer .footer-content h1,
.footer .footer-content h2{
    color:white;
}
.footer.footer-content.about h1 span{
    color: #05f7ff;
    
}


.footer .footer-content .about .contact span{
    display:block;
    font-size:1.1em;
    margin-bottom:8px;
    

}

.footer .footer-content .about .socials a{
    border:1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align:center;
    display:inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    
}

.footer .footer-content .about .socials a:hover{
    border:1px solid white;
    color:white; 
    transition: all .3s;
    
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
   
}

.footer .footer-content .links ul a:hover{
    color:white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .contact-form .contact-input{
    background: #272727;
    color:white;
    margin-bottom:10px;
    line-height: 1.5rem;
    padding:.9rem 1.4rem;
    border:none; 
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #1a1a1a;;
}

.footer .footer-content .contact-form .contact-btn{
    float:right;
}

.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width:100%;
    text-align: center;
    position:absolute;
    bottom:0px;
    left:0px;
    padding-top:20px;

}
